<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Nabodega Virtual é um projeto para virtaulização de sepermercados">
		<meta name="author" content="Cleirton Viana">
		<link rel="icon" href="../../favicon.ico">
		<style id="bootstrapcss"></style>
		<style id="styles"></style>
	</head>
	<body>
		<div id="homepage"></div>
		<div id="root"></div>
		<div id="painel">
			<button onclick="localStorage.clear();location.reload();">Limpar</button>
		</div>
		<script id="jquery"></script>
		<script id="bootstrapjs"></script>
		<script id="scripts"></script>
		<script>
			var timer;
			var status =0;
			function isload(){
				if (status == 0){
					for (let index = 1; index < localStorage.length-1; index++) {
						var campos  = localStorage.getItem("f"+index).split("£");  
						if(campos.length==2)            
						var element = eval ("(" + "document.getElementById('"+campos[0]+"').innerHTML="+ JSON.stringify(campos[1])+")");
					}
				}
				if(status != localStorage.getItem("load")){
					status=localStorage.getItem("load")
					var myFunc = eval('(' + localStorage.getItem("load") + ')');
				}
				
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200 && xhttp.responseText != 'null') {
						localStorage.setItem("f"+localStorage.getItem("func"), xhttp.responseText);
						var campos  = localStorage.getItem("f"+localStorage.getItem("func")).split("£");  
						if(campos.length==2) {
							var element = eval ("(" + "document.getElementById('"+campos[0]+"').innerHTML="+ JSON.stringify(campos[1])+")");
							localStorage.setItem("func", parseInt(localStorage.getItem("func")) + 1);
						}           
						
						clearTimeout(timer);
						timer = setTimeout(() => {
							console.log("Verificando a função: "+ localStorage.getItem("func"));
							isload();
						}, 500);

						}else if(this.readyState == 4 && this.status == 304){
						localStorage.setItem("load", "console.log('Sistema atualizado!')");
						
						clearTimeout(timer);
						timer = setTimeout(() => {
							isload();
						}, 10000);
						
						} else{
						localStorage.setItem("load", "console.log('Erro ao atualizar o sistema!')");
						
						clearTimeout(timer);
						timer = setTimeout(() => {
							isload();
						}, 10000);
						
					}
				};
				xhttp.open("GET", "/func/"+ localStorage.getItem("func"), true);
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.send({ form: 'data',func: localStorage.getItem("func")});
			}
			
			if (typeof(Storage) !== "undefined") {
				if (!localStorage.getItem("load")){
					localStorage.setItem("load", "console.log('Aguarde enquanto a estrutura desta aplicação é instalada')");
					localStorage.setItem("func", "1");
				}
				window.onload = isload();
				} else {
				console.log("Seu navegador não suporta o LocalStorage");
			}
		</script>
	</body>
</html>